.quiz-result {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__title {
    font-size: 40px;
    text-align: center;
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  &__container {
    background-color: $white;
    border: none;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: 0px 16px 40px 0px $shadow-color;
  }

  &__score {
    font-size: 100px;
    font-weight: 600;
  }

  &__total {
    color: $text-p-light;
  }
}

body.dark-theme {
  .quiz-result {
    &__container {
      background-color: $background-dark;
    }

    &__total {
      color: $text-p-dark;
    }
  }
}

@media (min-width: 768px) {
  .quiz-result {
    max-width: 600px;
    margin: 0 auto;

    &__title {
      font-size: 60px;
    }
  }
}

// @media (min-width: 1400px) {
//   .quiz-result {
//     max-width: 1280px;
//   }
// }
