.button {
  font-weight: 600;
  font-size: 18px;
  padding: 16px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 16px 40px 0px $shadow-color;
  cursor: pointer;

  &-primary {
    background-color: $purple;
    color: $white;
  }
}

@media (min-width: 768px) {
  .button {
    font-size: 30px;
  }
}
