.message {
  color: $invalid-color;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

@media (min-width: 768px) {
  .message {
    font-size: 20px;
  }
}
