$font-rubik: "Rubik", sans-serif;

$text-light: #313e51;
$text-p-light: #626c7f;
$shadow-color: rgba(143, 160, 193, 0.14);
$purple: #a729f5;
$white: #ffffff;
$invalid-color: #ee5454;
$correct-color: #26d782;
$background-light: #ffffff;
$option-background: #f4f6fa;
$html-bg: #fff1e9;
$css-bg: #e0fdef;
$js-bg: #ebf0ff;
$accessibility-bg: #f6e7ff;

$text-dark: #fff;
$text-p-dark: #abc1e1;
$background-dark: #313e51;
$answer-dark: #3b4d66;
$option-dark: #626c7f;
